*{
    text-decoration:none;
}
:root{
    --base:#F2994A;
    --t1:#8476AA;
    --t1-rgb:132, 118, 170;
    --t2:#99EFD0;
}
@font-face {
    font-family: "Gilroy";
    src: url(../../Source/Fonts/gilroy-regular.ttf);
}
@font-face {
    font-family: "Gilroy-Bold";
    src: url(../../Source/Fonts/gilroy-bold.ttf);
}
@font-face {
    font-family: "Gilroy-Semibold";
    src: url(../../Source/Fonts/gilroy-semibold.ttf);
}
@font-face {
    font-family: "Rubik";
    src: url(../../Source/Fonts/Rubik-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Rubik-Medium";
    src: url(../../Source/Fonts/Rubik-Medium.ttf);
}
@font-face {
    font-family: "Inter";
    src: url(../../Source/Fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: "Inter-Bold";
    src: url(../../Source/Fonts/Inter-Bold.ttf);
}

/*header*/
.header nav a{
    font-family: "Gilroy";
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #B5B5B5;
}
.header .sign_in{
    font-family: "Rubik-medium";
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--base);
}
.header .sign_up{
    font-family: "Rubik-medium";
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}


/*intro*/
.intro .heading p:first-of-type{
    font-family: "Inter-bold";
    font-size: 44px;
    line-height: 50px;
    color: var(--t2);    
}
.intro .heading p:last-of-type{
    font-family: "Gilroy-SemiBold";
    font-size: 18px;
    line-height: 22px;
    color: var(--t1);    
}
.intro button:first-of-type{
    font-family: "Rubik-medium";
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.intro button:last-of-type{
    font-family: "Rubik-medium";
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--base);
}
.intro .video_block p{
    font-family: "Rubik";
    font-weight: 1;
    font-size: 16px;
    line-height: 22px;
    color: var(--t1);    
}
.intro .video_block a{
    font-family: "Rubik";
    font-weight: 1;
    font-size: 14px;
    line-height: 22px;
    color: #6D6D78;
}



/*your choice*/
.your_choice .heading p:first-of-type{
    font-family: "Inter-Bold";
    font-size: 42px;
    line-height: 50px;
    color: var(--t2);
}
.your_choice .heading p:last-of-type{
    font-family: "Gilroy-SemiBold";
    font-size: 16px;
    line-height: 22px;
    color: var(--t1);
}
.your_choice .suggestions p:first-of-type{/*heading suggestions*/
    font-family: "Gilroy-Bold";
    font-size: 18px;
    line-height: 22px;
    color: var(--t2);    
}
.your_choice .suggestions p:last-of-type{
    font-family: "Gilroy-SemiBold";
    font-size: 14px;
    line-height: 22px;
    color: var(--t1);    
}




/*traffic*/
.traffic button{
    font-family: "Rubik-medium";
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.traffic p:first-of-type{
    font-family: "Inter-Bold";
    font-size: 42px;
    line-height: 50px;
    color: var(--t2);    
}
traffic_word{
    color:var(--base);
}
.traffic p:last-of-type{
    font-family: "Gilroy-SemiBold";
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: var(--t1);
}



/*save_money*/
word_save_money{
    color: var(--base);
}
.save_money .heading p:first-of-type{
    font-family: "Inter-bold";
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.33px;
    color: var(--t2);    
}
.save_money .heading p:last-of-type{
    font-family: "Gilroy-SemiBold";
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--t1);    
}
.save_money .bottom_block p:first-of-type{
    font-family: "Inter-bold";
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.33px;
    color: var(--t2);
}
.save_money .bottom_block p:last-of-type{
    font-family: "Gilroy-SemiBold";
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--t1);
}



/*startup*/
.startup p{
    font-family: "Inter-Bold";
    font-size: 42px;
    line-height: 50px;
    color: var(--t2);    
}
.startup button{
    font-family: "Rubik-Medium";
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;    
}



/*invest*/
.invest p:first-of-type{
    font-family: "Inter-Bold";
    font-size: 42px;
    line-height: 50px;
    color: var(--t2);    
}
.invest p:last-of-type{
    font-family: "Gilroy-Semibold";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: var(--t1);    
}
.invest button{
    font-family: "Rubik-medium";
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
invest_word{
    color:var(--base);
}






/*help find*/
.help_find .right_side > div > p:first-of-type{
    font-family: "Inter-bold";
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.325px;
    color: var(--t2);
}
.help_find .right_side > div > p:last-of-type{
    font-family: "Gilroy-semibold";
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--t1);    
}
.help_find .right_side span p:first-of-type{
    font-family: "Inter-bold";
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: var(--t2);    
}
.help_find .right_side span p:last-of-type{
    font-family: "Gilroy-semibold";
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--t1);    
}




/*mail*/
.mail p:first-of-type{
    font-family: "Rubik-medium";
    font-size: 36px;
    line-height: 43px;
    color: var(--base);    
}
.mail p:nth-of-type(2){
    font-family: "Rubik";
    font-size: 16px;
    line-height: 22px;
    color: #95A1BB;    
}
.mail p:last-of-type{
    font-family: "Gilroy-semibold";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--t1);    
}
.mail input{
    font-family: "Inter";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.mail button{
    font-family: "Rubik-medium";
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;    
}





/*footer*/
.footer .heading{
    font-family: "Inter-bold";
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.325px;
    color: var(--base);    
}
.footer .pages p{
    font-family: "Inter-bold";
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #FFFFFF;    
}
.footer .pages a{
    font-family: "Inter";
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;    
}
.footer .bottom_footer{
    font-family: "Inter";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #8D8D8D;    
}
.footer .bottom_footer a{
    font-family: "Inter";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #8D8D8D;
}