:root{
    --base:#F2994A;
    --base-rgb:242, 153, 74;
    --t1:#8476AA;
    --t1-rgb:132, 118, 170;
    --t2:#99EFD0;
}

/*header*/
@media(max-width:992px){
    .header{
        margin:30px 0;
    }
    .header .nav_site,
    .header .right_side{
        display:none;
    }
    .hamb_stick{
        display:block;
    }
}


/*intro*/
@media(max-width:992px){
    .intro{
        width:550px;
    }
    .background_site{
        background: url(../../Source/Img/intro.svg) no-repeat center 109px;
    }   
    @media (max-width:768px){
        .background_site{
            background: url(../../Source/Img/intro.svg) no-repeat left 150px;
        }
    }   
    @media (max-width:576px) {
        .intro{
            margin-top:15px;
            width:300px;
        }
        .intro .button{
            gap:10px;
        }
        .intro button{
            width: 135px;
        }
        .intro .video_block{
            padding-right:20px;
            flex-direction:column;
        }
        .intro video{
            justify-self:center;
        }
    }
}


/*your choice*/
@media(max-width:1200px){
    .pre_your_choice{
        padding:0;
    }
    .your_choice .choice_suggestions > div{
        justify-content: space-evenly;
        margin-bottom:15px;
    }
    .your_choice .choice_suggestions > div > div{
        margin-bottom:15px;
    }
    .pre_your_choice .corporation{
        justify-content: space-evenly;
    }
}



/*traffic*/
@media(max-width:1200px){
    .traffic > span:last-child{
        display:none;
    }
    .traffic {
        padding:0px;
        margin:90px 0;
    }
}



/*save_money*/
@media(max-width:992px){
    .save_money .bottom_block{
        justify-content: space-around;
    }
    .save_money .bottom_block span:not(:last-of-type){
        margin-bottom: 30px;
    }
}




/*startup*/
@media(max-width:992px){
    .startup{
        margin:100px 0 400px 0;
    }
}
