*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%) no-repeat;
}
.background_site{
    background: url(../../Source/Img/intro.svg) no-repeat right 139px,
                url(../../Source/Img/background\ your\ choice.svg) no-repeat center 620px/contain,
                url(../../Source/Img/startup.svg) no-repeat center 2600px;
    max-width:1460px;
    padding:0 10px; 
    margin:0 auto;
}
:root{
    --base:#F2994A;
    --t1:#8476AA;
    --t1-rgb:132, 118, 170;
    --t2:#99EFD0;
}
.container{
    max-width:1110px;
    padding:0 10px;
    margin:0 auto;
}
span{
    display:inline-block;
}
button{
    cursor:pointer;
}



/*header*/
.header{
    margin:80px 0 120px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
/*left side*/
.header .left_side{/*align logo and nav*/
    display:flex;
}
.header .nav_site{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:347px;
    margin-left:44px;
}
.header .nav_site a{
    transition:500ms;
}
.header .nav_site a:hover{
    background:rgba(var(--t1-rgb), 0.5);
    border-radius: 30px;
    padding:2px;
}
/*right side*/
.header .right_side{
    display:flex;
    gap:20px;
}
.header .right_side span{
    width: 112px;
    height: 36px;
    display:flex;/*align text in button*/
    justify-content: center;/*align text in button*/
    align-items: center;/*align text in button*/
}
.header .sign_in{
    border: 1px solid var(--base);
    box-sizing: border-box;
    border-radius: 4px;
    transition:500ms;
}
.header .sign_up{
    background: var(--base);
    transition:500ms;
    border-radius: 3px;
}
.header .sign_in:hover,
.header .sign_up:hover{
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
}
/*hamburger*/
.hamb_stick{
    height:25px;
    width:25px;
    display:none;
    cursor:pointer;
}
.hamb_stick img{
    width: 100%;
    height: 100%;
    display:flex;
}
.hamburger{
    overflow:hidden;
    display:none;
    position:absolute;
    top:65px;
    width:150px;
    background:rgba(54,28,93,0.8);
    border:1px solid var(--t1);
    right:20px;
    border-radius: 3px;
}
.hamburger a{
    padding:0 0 0 10px;
    margin:5px 0;
}
.hamburger .top_side a{
    color:var(--base)
}
.hamburger .top_side{
    display:grid;
}
.hamburger .nav_site_hamb{
    display:grid;
}





/*intro*/
.intro{
    width:50%;
}
.intro .heading p:last-of-type{
    margin:19px 0 0 0;
}
.intro .button{
    display:flex;
    gap:20px;
}
.intro button{
    cursor: pointer;
    width: 157px;
    height: 46px;
    transition:500ms;
    border-radius: 3px;
    border:none;
    outline:none;
    margin:40px 0 60px 0;
}
.intro button:first-of-type{/*left button*/
    background: var(--base);
}
.intro button:last-of-type{/*right button*/
    border: 1px solid var(--base);
    background: none;
}
.intro button:hover{
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
}
.intro .video_block{/*video and text*/
    display:flex;
    gap:20px;
}
.intro .video_block span:last-of-type{/*for vert align text video*/
    display:flex;
}
.intro .video_block span:last-of-type div{/*vert align text video*/
    margin:auto 0;
}
.intro .video_block span:last-of-type p{/*padding between*/
    margin-bottom:6px;
}



/*your_choice*/
.pre_your_choice{
    padding:0 60px;
}
.pre_your_choice .corporation{
    margin:100px auto 0 auto;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:15px;/*min padding*/
}
.your_choice .heading{
    text-align: center;
    margin:100px 0 50px;
}
.your_choice .choice_suggestions > div{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:43px;
}
.your_choice .suggestions{/*suggestions*/
    max-width: 300px;
    display:flex;
    gap:30px;
}
.your_choice .suggestions p:first-of-type{/*heading suggestions*/
    margin-bottom:15px;
}



/*traffic*/
.traffic{
    display:flex;
    padding:0 60px 0 87px;/*outer padding*/
    margin:168px 0 120px 0;
}
.traffic span:first-child{/*left side*/
    display:flex;
}
.traffic div{/*left side*/
    margin:auto 0;
}
.traffic p:last-of-type{/*left side*/
    margin:32px 0 43px 0;
}
.traffic button{/*left side*/
    width: 155px;
    height: 48px;
    background: var(--base);
    transition:500ms;
    border-radius: 3px;
    border:none;
    outline: none;
}
.traffic button:hover{/*left side*/
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
}



/*save_money*/
.save_money p{
    text-align: center;
}
.save_money .heading p:first-of-type{
    max-width:864px;
    margin:0 auto 32px auto;
}
.save_money .heading p:last-of-type{
    max-width:414px;
    margin:0 auto 48px auto;
}
.save_money .bottom_block{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.save_money .bottom_block span{
    width:290px;
}
.save_money .bottom_block span p:first-of-type{
    margin:0 0 16px 0;
}



/*startup*/
.startup{
    margin:168px 0 400px 0;
    text-align:center;
}
.startup p{
    margin:0 auto 46px auto;
    max-width:770px;
}
.startup button{
    width: 164px;
    height: 54px;
    background: var(--base);
    transition:500ms;
    border:none;
    outline:none;
    border-radius: 3px;
}
.startup button:hover{
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
}


/*invest*/
.invest{
    display:flex;
}
.invest span:first-of-type{
    margin:auto 0;
}
.invest p:last-of-type{
    margin:32px 0 46px 0;
}
.invest button{
    width: 154px;
    height: 54px;
    border:none;
    outline:none;
    background: var(--base);
    border-radius: 3px;
    transition:500ms;
}
.invest button:hover{
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
}